@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    scroll-behavior: smooth !important;
  }
  body {
    @apply bg-gray-100 overflow-x-hidden;
  }
  main {
    @apply pt-16;
  }
  * {
    @apply !leading-normal transition-all duration-500;
  }
  .container {
    @apply mx-auto px-4;
  }
  .backdrop {
    @apply top-0 left-0 fixed z-40 w-dvw h-dvh backdrop-brightness-50;
  }
}

@layer components {
  .btn {
    --highlight-top: 1px -2px 5px 2px #fefefee6;
    --highlight-bottom: 0px 3px 4px 3px #fefefee6;
    --shadow-top: 0px -3px 4px -1px #555555e6;
    --shadow-bottom: 0px 5px 4px #555555e6;
    --shadow-inset: inset -1px -1px 4px 3px var(--tw-shadow-color, #aaaaaae6);
    --shadow-inset-active: inset 2px 2px 10px 3px
      var(--tw-shadow-color, #aaaaaae6);
    --hightlight-button: inset 6px 6px 2px -2px #ffffffbf;

    --button-shadow-base: var(--shadow-top), var(--highlight-top),
      var(--highlight-bottom), var(--shadow-bottom);
    --button-shadow-default: var(--button-shadow-base), var(--shadow-inset),
      var(--hightlight-button);
    --button-shadow-active: var(--button-shadow-base),
      var(--shadow-inset-active);
    box-shadow: var(--button-shadow-default);
    @apply text-center rounded-md;
    @apply px-3 md:px-6 py-2 my-[var(--gap-y)];
    @apply transition-all duration-300;
    @apply disabled:opacity-50 disabled:cursor-auto disabled:shadow-none disabled:border-gray-400 disabled:text-gray-400;
  }
  button.btn:active,
  a.btn:active {
    box-shadow: var(--button-shadow-active);
  }
  .btn.no-outer-shadow {
    --button-shadow-default: var(--shadow-inset), var(--hightlight-button);
    --button-shadow-active: var(--shadow-inset-active);
  }

  .mind-map {
    @apply flex items-center;
    @apply [--line-color:#333] [--gap-x:10px] md:[--gap-x:20px] [--gap-y:5px] md:[--gap-y:10px];
  }
  .mind-map .children {
    @apply flex flex-col justify-center;
    @apply relative align-middle;
    @apply pl-[var(--gap-x)];
  }
  .mind-map .children:before,
  .mind-map .children-item:before {
    @apply content-[''];
    @apply absolute top-1/2 left-0;
    @apply w-[calc(var(--gap-x))];
    @apply border-t-2 border-[var(--line-color)];
  }
  .mind-map .children-item {
    @apply flex items-center;
    @apply relative;
    @apply pl-[var(--gap-x)];
    @apply border-l-2 border-[var(--line-color)];
  }
  .mind-map .children-item:first-child,
  .children-item:last-child {
    @apply border-0;
  }
  .mind-map .children-item:first-child:before {
    @apply bottom-0 left-0 rounded-ss-md;
    @apply border-l-2 border-[var(--line-color)];
  }
  .mind-map .children-item:last-child:before {
    @apply top-0 bottom-1/2 left-0 border-0 rounded-es-md;
    @apply border-b-2 border-[var(--line-color)];
    @apply border-l-2 border-[var(--line-color)];
  }
  .mind-map .children-item:first-child:last-child:before {
    @apply top-1/2 bottom-0 border-0 rounded-none;
    @apply border-t-2 border-[var(--line-color)];
  }

  .timeline .timeline-item {
    @apply relative border-l-2 border-denim-600 px-6 pb-6;
    @apply flex flex-col gap-2;
  }
  .timeline .timeline-item .title {
    @apply font-semibold text-xl text-denim-600;
  }
  .timeline .timeline-item .time {
    @apply w-fit bg-gray-50 text-xs text-gray-600 px-3 py-1;
  }
  .timeline .timeline-item::before {
    @apply content-[''] absolute top-0 -left-[8.75px] size-[16px] rounded-full bg-gray-100 border-2 border-denim-600;
  }
}
